<p id="notice"><%= notice %></p>

<p>
  <strong>物件名:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>賃料:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>住所:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @property.age %>
</p>

<p>
  <strong>備考:</strong>
  <%= @property.remarks %>
</p>
<hr>
<p>
  <% n = 0 %>
  <% @property.nearest_stations.each do |nearest_station| %>
  <h4>最寄駅<%= n+=1 %></h4>
  <p><%= nearest_station.route_name %>
  <p><%= nearest_station.station_name %>
  <p><%= nearest_station.time %>
</p>
<% end %>

<%= link_to '編集', edit_property_path(@property) %> |
<%= link_to '戻る', properties_path %>
